

/* font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */



body {
    background-color: rgba(34, 34, 34);
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 15px;

}

a {
    color: white;
    text-decoration: none;
} 

a:hover {
    color: rgba(132, 14, 201);
    transition: 0.3s all;
}

h1 {
    font-weight: 200;
}

strong {
    color: rgba(132, 14, 201);
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

h2 {
    font-size: 50px;
    line-height: 55px 


}

p {
    line-height: 20px;
    max-width: 500px;
}

img {
    max-width: 500px;
}

#insbutton {
    border: 2px solid rgba(132, 14, 201);
    border-radius: 5px;
    padding: 10px;
}

#insbutton:hover {
    background-color: rgba(132, 14, 201);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input {
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    
}

.enviar {
   
    width: 50%;
    background-color: rgba(132, 14, 201);
    color: white;
    font-weight: bold;
}

.enviar:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(132, 14, 201);
}



@media (max-width: 760px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column
        
    
    }
    #title {
        float: left;
        padding-bottom: 10px;
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    aside {
        margin-bottom: 40px;
    }

    form {
        margin: 0 auto;
        
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    .enviar {
        margin-top: 20px;
    }

    #insbutton {
        margin: 0 auto;
        
       
    }
    
}